html {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#mmmm {
  font-size: 100px;
  color: yellow;
}
a { 
  color: inherit; 
  text-decoration: none;
} 
button{
  color: inherit;
  text-decoration: none;
}
#img {

  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  font-size: 100px;
  color: red;

}
#listek_papieru_do {
  font-size: 50px;
  color: red;

}
.tekst{
  font-size:30px;
  color:red;
  
}
#back{
  font-size: 40px;
  text-decoration: none;
  color:red;
  background-color: black;
  border-color: red;
  padding-top: 10px;
}

#back:active {
  transform: translateY(4px);
}
#back {
  transition-duration: 0.4s;
}

#back:hover {
  background-color: red;
  color: black;
}
#box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#box2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

